@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: rgb(255, 98, 98);
}

#titulo {
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}

#calculadora {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#calculo {
    border: 2px solid black;
    width: 400px;
    height: 550px;
    margin: 0px auto;
    display: inline;
    justify-content: center;
    flex-wrap: wrap;
}

#resultados {
    margin: 40px 0px 40px 14px;
    height: 50px;
    width: 370px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    font-size: 20px;
}

.botoes1 {
    height: 65px;
    width: 65px;
    font-size: 20px;
    border-radius: 50%; 
    margin-left: 25px;
    margin-bottom: 12px;
}

#igual {
    transform: translateY(3px);
    font-size: 25px;
}

#virgula {
    font-size: 32px;
    transform: translateY(2px);
}

#igual {
    background-color: var(--cor1);
    transform: translateY(-2px);
    font-weight: bolder;
}

#divisao {
    font-size: 32px;
    transform: translateY(4px);
}

#vezes, #mais {
    font-size: 25px;
    font-weight: bolder;
}

#menos {
    font-size: 30px;
}