@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: rgb(255, 98, 98);
}

#titulo {
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}

#calculadora {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#calculo {
    border: 2px solid black;
    width: 400px;
    height: 550px;
    margin: 0px auto;
    display: inline;
    justify-content: center;
    flex-wrap: wrap;

}

#resultados {
    margin: 40px 0px 40px 14px;
    height: 50px;
    width: 370px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
}

.botoes1 {
    height: 60px;
    width: 60px;
    font-size: 20px;
}

#btesq {
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#btdir {
    margin-left: -6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botoes2 {
    height: 60px;
    width: 60px;
}

#btapagar {
    font-size: 20px;
    border-radius: 10px;
    transform: translateY(3px);
    margin-left: 118px;
}

#btC {
    font-weight: bolder;
    font-size: 18px;
    background-color: var(--cor1);
    border-radius: 10px;
}